.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 300ms;
}

.tarefas li:hover {
  font-weight: bold;
}

.tarefas li:hover {
  background: var(--color-textotwo)
}

.tarefas li .edit {
  color: var(--color-one);
}

.tarefas li .delete {
  color: var(--color-twoVariation);
}

.tarefas li .edit,
.tarefas li .delete {
  margin-right: 15px;
  cursor: pointer;
  transition: all 400ms;
  
}

.tarefas li span{
  display: flex;
  align-items: center;

}
