
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
  --color-fundo: #1a1919;
  --color-texto: #E0E0E0;
  --color-destaque: #CC8769;
  --color-bottom: #E0A188;
  --color-one: #525252;
  --color-two:#350F00;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family:'Roboto', sans-serif;
  background: var(--color-fundo);
}

button {
  cursor: pointer;
}
