
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
  --color-fundo: #1a1919;
  --color-texto: #b3b3b3;
  --color-textotwo: #cecece;
  --color-destaque: #be3c03;
  --color-bottom: #f01212;
  --color-one: #525252;
  --color-two:#350F00;
  --color-twoVariation:#571f09;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family:'Roboto', sans-serif;
  background: var(--color-fundo);
}

button {
  cursor: pointer;
}
